<!DOCTYPE html>
<html>
  <head>
    <title>Simpleblog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-bold">Мій перший сайт на рельсах</h5>
    <nav class="my-2 my-md-0 mr-md-3">
      <span class="p-2 text-dark"><%= link_to "Головна сторінка", home_path %></span>
      <span class="p-2 text-dark"><%= link_to "Про нас ", about_path %></span>
      <span class="p-2 text-dark"><%= link_to "Наші контакти ", contacts_path %></span>
      <span class="btn btn-outline"><%= link_to "Додавання посту", new_post_path %></span>
    </nav>
    <% if user_signed_in? %>
      <span class="p-2 text-dark"><%= link_to "Вихід ", destroy_new_user_session_path, method: :delete%></span>
      <%else %>
      <span class="p-2 text-dark"><%= link_to "Вхід ", new_user_session_path %></span>
      <span class="p-2 text-dark"><%= link_to "Реєстрація ", new_user_registration_path %></span>
      <%end %>
  </div>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <div class="container">
    <%= yield %>
  </div>
  </body>
</html>
